:host
{
  width: 200px;
}
.menu 
{
  display: inline-flex;
  flex-direction: column;
  transition: width 0.25s;
  overflow: hidden;
}

.menu_title
{
  border: none;
  padding: 0px 10px;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 30px;
  column-gap: 5px;
}
.menu_title:hover
{
  background-color: #d2e9f1;
}

.menu_option
{
  border: none;
  padding: 0px 10px 0px 40px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  height: 30px;
}
.menu_option:hover
{
  background-color: #d2e9f1;
}
.menu_option_next
{
  margin-left: 5px;
  transform: rotateZ(90deg);
  display: inline-block;
  vertical-align: bottom;
  width: 10px;
}
.custom_option
{
  align-items: center;
}