:host
{
  width: 150px;
  box-sizing: border-box;
}
.menu 
{
  display: inline-flex;
  flex-direction: column;
  transition: width 0.25s;
  overflow: hidden;
}
.menu_title
{
  border: none;
  padding: 5px 10px;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
}
.menu_title:hover
{
  background-color: #d2e9f1;
}
.menu_title_prev
{
  margin-right: 5px;
  transform: rotateZ(270deg);
  display: inline-block;
  vertical-align: bottom;
  width: 10px;
}
.menu_option
{
  border: none;
  padding: 5px 10px 5px 25px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.menu_option:hover
{
  background-color: #d2e9f1;
}
.menu_option_next
{
  margin-left: 5px;
  transform: rotateZ(90deg);
  display: inline-block;
  vertical-align: bottom;
  width: 10px;
}
.custom_option
{
  align-items: center;
}