mb-select
{
  display: inline-block;
  outline: 1px solid #000;
  position: relative;
  padding: 0;
  margin: 0;
}
mb-select button
{
  font-size: inherit;
  border: none;
  padding: 0 5px;
  margin: 0;
  background-color: transparent;
}
mb-select button:hover
{
  background-color: #ddd;
}
mb-select .mb_menu
{
  display: inline-block;
  border: 1px solid #000;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 30px;
  background-color: #fff;
  transition: opacity 0.5s;
  opacity: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0px 5px 10px 2px #aaa;
}
mb-select .mb_menu_title
{
  white-space: nowrap;
  padding: 0 10px 0 0;
}
mb-select .mb_menu_option
{
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}
mb-select .mb_menu_show
{
  opacity: 1;
  pointer-events: auto;
}
mb-select .mb_menu_hide
{
  opacity: 0;
  pointer-events: none;
}
mb-select .mb_sel_btn
{
  padding: 5px 5px 5px 10px;
}
mb-select .mb_sel_btn::after
{
  content: " 🞃";
}
mb-select .mb_clr_btn
{
  padding: 5px;
}
mb-select .mb_clr_btn::after
{
  content: "⌧";
}
mb-select .mb_close_btn
{
  padding: 5px 5px 5px 10px;
}
mb-select .mb_close_btn::after
{
  content: "🗙";
}
mb-select .mb_back_btn
{
  padding: 5px 5px 5px 10px;
}
mb-select .mb_back_btn::after
{
  content: "🞀";
}
mb-select .mb_next_btn::after
{
  content: "🞂";
}
mb-select .mb_option_btn
{
  padding: 5px 5px 5px 10px;
  flex-grow: 1;
  text-align: left;
}
